/* ScrollLineBar.css */
.scroll-line-bar {
    position: fixed;
    bottom: 0; /* Change from 'bottom: 0' to 'top: 0' */
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .progress-bar {
    height: 4px;
    background-color: var(--main-color);
    transition: width 0.3s ease-in-out;
  }
  
  .scroll-content {
    height: 200vh; /* Example content that exceeds viewport height */
    position: relative; /* Add this line */
  }
  