#about{
    position: relative;
    margin-top: 0;
}
.about_me{
    position: absolute;
    width: 50%;
    top: 20%;
    right: 0%;
}

.about_me h1{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.about_me {
    color: #aaa;
    font-size: 15px;
    line-height: 30px;
}

.img{
    width: 100%;
}

.img img{
    position: absolute;
    /* left: 3%; */
    top: 9%;
    width: 50%;
    height: auto;
    object-fit: cover;
    align-items: center;
}

.about_information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 10px;
    margin: -10px 0 15px 0;
    font-size: 15px;
}

.about_information p{
    color: #aaa;
    text-transform: capitalize;
}

.about_information span{
    color: var(--main-color);
}

.about_me .btn{
    width: 33%;
    font-size: 10px;
    margin-bottom: 15px;
}

@media screen and (max-width:768px) {
    #about{
        margin-top: 50px;
    }
    .about_me{
        width: 100%;
        margin: 0 -12%;
        top: 50%;
    }
    .img img{
        width: 115%;
    }
    .about_information p{
        width: 100%;
    }
    .about_information{
        margin-top: 10px;
        display: block;
    }
    .about_me .btn{
        width: 53%;
    }
}