#footer{
    margin-top: 40px;
}

.social_icons{
    width: 15%;
    margin: 0 auto;
}

.copyrights{
    color: #aaa;
    font-size: 15px;
    text-align: center;
    margin-top: 18px;
}

.copyrights span{
    color: var(--main-color);
}

@media screen and (max-width:768px) {
    #footer{
        width: 100%;
        margin-left: 12%;
    }
    .social_icons{
        margin-left: 35%;
    }
    .copyrights{
        font-size: 10px;
        margin-left: 12%;
        width: 100%;
    }
}