.SocialIcons{
    display: flex;
    margin-left: -8px;
}

.SocialIcons .facebook,
.SocialIcons .whatsapp,
.SocialIcons .github,
.SocialIcons .linkedin{
    position: relative;
    margin: 0 12px 0 0;
    color: #fff;
    font-size: 25px;
    /* border: 1.5px solid #fff; */
    border-radius: 100%;
    width: 18px;
    height: 18px;
    padding: 8px;
    cursor: pointer;
    transition: .5s ease-in;
}

.SocialIcons .facebook span,
.SocialIcons .whatsapp span,
.SocialIcons .github span,
.SocialIcons .linkedin span{
    position: absolute;
    top: 1px;
    right: 4px;
}

.SocialIcons .facebook:hover,
.SocialIcons .whatsapp:hover,
.SocialIcons .github:hover,
.SocialIcons .linkedin:hover{
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
}

.SocialIcons .facebook:hover{
    background: #3b5998 ;
}
.SocialIcons .whatsapp:hover{
    background: #25D366;
}
.SocialIcons .github:hover{
    background: #000914;
}
.SocialIcons .linkedin:hover{
    background: #0072b1 ;
}